{{ define "footer"}}
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Контакты</h3>
                <p><strong>Телефон 1:</strong> +375 (29) 720-27-91 (Александр)</p>
                <p><strong>Телефон 2:</strong> +375 (33) 670-92-73 (Александр)</p>
                <p><strong>Адрес:</strong> г. Брест, ул. Янки Купалы, 109</p>
                <p><strong>email:</strong> avajsstroi@mail.ru</p>
            </div>
            <div class="footer-section">
                <h3>Реквизиты</h3>
                <p><strong>Свидетельство о государственной регистрации:</strong> 291002836</p>
            </div>
            <div class="footer-section">
                <h3>О компании</h3>
                <p>© 2026 ЧСУП «АВАЮССТРОЙ».</p>
                <p>Site designed by <strong>Chiraq Concept</strong></p>
            </div>
        </div>
    </div>
</footer>
<script src="/static/js/script.js" defer></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 800,
        once: true,
    });
</script>
{{ end }}