{{ define "header" }}
<header class="header">

    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(100205864, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/100205864" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->

    <div class="container">
        <div class="logo">
            <img src="/static/images/logo_n.png" alt="Логотип АВАЮССТРОЙ">
            <span>АВАЮССТРОЙ</span>
        </div>
        <nav class="nav">
            <a href="/">Главная</a>
            <a href="/services">Услуги</a>
            <a href="/rent">Аренда</a>
            <a href="/contacts">Контакты</a>
        </nav>
    </div>
    
</header>

<!-- Кнопка телефона -->
<div class="phone-button">
    <button class="phone-icon">
        <img src="/static/images/phone-icon.svg" alt="Позвонить">
    </button>
    <div class="phone-dropdown">
        <a href="tel:+375297202791">+375 (29) 720-27-91</a>
        <a href="tel:+375336709273">+375 (33) 670-92-73</a>
    </div>
</div>
{{ end }}