.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/web-site/FileContentIndex/30c80665-c25f-47f8-b931-8158bf0ba16d.vsidx
.vs/web-site/v17/.wsuo
.vs/web-site/v17/DocumentLayout.backup.json
.vs/web-site/v17/DocumentLayout.json
.vs/web-site/FileContentIndex/23bfeacd-496f-42be-bba8-d59dbfe6e6dc.vsidx
