<!DOCTYPE html>
<html lang="ru" data-theme="light">
<head>
    {{ template "head" }}
    <title>АВАЮССТРОЙ | Водопровод</title>
</head>
<body>
    {{ template "header"}}

    <main>
        <section class="service-detail">
            <div class="container">
                <h2>Водопровод</h2>
                <div class="service-content">
                    <div class="service-image">
                        <div class="image-wrapper">
                            <img src="/static/images/plumbing/cover.jpg" alt="Водопровод">
                            <div class="overlay">
                                <a href="/contacts" class="order-button">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="service-description">
                        <h3>Что такое водопровод?</h3>
                        <p>
                            Водопровод — это система труб, фитингов и оборудования, предназначенная для подачи воды в здания и сооружения. 
                            Мы предоставляем услуги по проектированию, монтажу и обслуживанию водопроводных систем.
                        </p>
                        <h3>Наши услуги</h3>
                        <p>
                            Мы предлагаем полный спектр услуг по водопроводу:
                        </p>
                        <ul>
                            <li>Проектирование и монтаж водопроводных систем.</li>
                            <li>Ремонт и замена труб.</li>
                            <li>Установка счетчиков воды.</li>
                        </ul>
                        <h3>Преимущества работы с нами</h3>
                        <p>
                            Наша компания гарантирует качественное выполнение работ с использованием современных материалов. 
                            Мы обеспечиваем:
                        </p>
                        <ul>
                            <li>Долговечность и надежность систем.</li>
                            <li>Соблюдение всех норм и стандартов.</li>
                            <li>Оперативное выполнение заказов.</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </section>
    </main>

    {{ template "footer" }}
</body>
</html>