<!DOCTYPE html>
<html lang="ru" data-theme="light">
<head>
    {{ template "head" }}
    <title>АВАЮССТРОЙ | Канализация</title>
</head>
<body>
    {{ template "header"}}

    <main>
        <section class="service-detail">
            <div class="container">
                <h2>Канализация</h2>
                <div class="service-content">
                    <div class="service-image">
                        <div class="image-wrapper">
                            <img src="/static/images/sewerage/cover.jpg" alt="Канализация">
                            <div class="overlay">
                                <a href="/contacts" class="order-button">Заказать</a>
                            </div>
                        </div>
                    </div>
                    <div class="service-description">
                        <h3>Что такое канализация?</h3>
                        <p>
                            Канализация — это система труб и сооружений, предназначенная для отвода сточных вод. 
                            Мы предоставляем услуги по проектированию, монтажу и обслуживанию канализационных систем.
                        </p>
                        <h3>Наши услуги</h3>
                        <p>
                            Мы предлагаем полный спектр услуг по канализации:
                        </p>
                        <ul>
                            <li>Проектирование и монтаж канализационных систем.</li>
                            <li>Ремонт и замена труб.</li>
                            <li>Очистка и обслуживание канализационных сетей.</li>
                        </ul>
                        <h3>Преимущества работы с нами</h3>
                        <p>
                            Наша компания гарантирует качественное выполнение работ с использованием современных технологий. 
                            Мы обеспечиваем:
                        </p>
                        <ul>
                            <li>Долговечность и надежность систем.</li>
                            <li>Соблюдение всех норм и стандартов.</li>
                            <li>Оперативное выполнение заказов.</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </section>
    </main>

    {{ template "footer" }}
    
</body>
</html>