<!DOCTYPE html>
<html lang="ru" data-theme="light">
<head>
    {{ template "head" }}
    <title>АВАЮССТРОЙ | ТОПАС</title>
    <!-- Мета-тег description -->
<meta name="description" content="ЧСУП «АВАЮССТРОЙ» предлагает установку септиков TOPAS в Бресте и Брестской области. Экологичные и надежные системы автономной канализации для вашего дома!">
<!-- Мета-тег keywords -->
<meta name="keywords" content="
    септики TOPAS Брест, установка септиков Брест, автономная канализация Брест, септики в Брестской области,
    септики TOPAS Берёза, септики TOPAS Пинск, септики TOPAS Кобрин, септики TOPAS Барановичи, септики TOPAS Лунинец,
    септики TOPAS Ивацевичи, септики TOPAS Жабинка, услуги установки септиков Брест, монтаж септиков Брест,
    экологичные септики Брест, септики для частного дома Брест, профессиональная установка септиков Брест
    ">
</head>
<body>
    {{ template "header"}}
    <main>
        <section class="service-detail">
            <div class="container">
                <h2>Автономная канализация «ТОПАС»</h2>
                <div class="service-content">
                    <div class="service-image">
                            <img src="/static/images/topas/cover.jpg" alt="ТОПАС">
                            <div class="overlay">
                                <a href="/contacts" class="order-button">Заказать</a>
                            </div>
                    </div>
                    <div class="service-description">
                        <h3>Что такое УОСВ «ТОПАС»?</h3>
                        <p>
                            Установка очистки сточных вод «ТОПАС» - одно из лучших решений для загородной канализации. 
                            В основе её работы лежит гибридный метод, сочетающий биологическую и механическую очистку стоков. 
                            На выходе сточные воды становятся прозрачными, отсутствует неприятный запах. Высокое качество очистки 
                            и безопасность для окружающей среды подтверждены соответствующими сертификатами. Установка производится 
                            с 2002 года, отлично зарекомендовав себя среди пользователей.
                        </p>
                        <h3>Наши методы установки</h3>
                        <ul>
                            <li><strong>Пр</strong> – установка со встроенным насосом принудительного отвода очищенного стока. Применяется для участков с высоким уровнем грунтовых вод.</li>
                            <li><strong>Лонг</strong> – установка с удлиненной горловиной (имеет врезной диапазон больше, чем стандартные станции). Применяется, когда канализационная труба, выходящая из здания, залегает на глубине свыше 85 см от поверхности грунта.</li>
                            <li><strong>Ус</strong> – установка с дополнительным усилением корпуса (имеет врезной диапазон больше, чем станции модификации Лонг). Применяется для участков с высоким давлением грунта и в случаях, когда канализационная труба, выходящая из здания, залегает на глубине свыше 140 см от поверхности грунта.</li>
                        </ul>
                        <h3>Преимущества работы с нами</h3>
                        <p>
                            Наша компания гарантирует качественное выполнение работ с использованием проверенных технологий. 
                            Мы обеспечиваем:
                        </p>
                        <ul>
                            <li>Быстрое и эффективное снижение уровня воды.</li>
                            <li>Минимальное воздействие на окружающую среду.</li>
                            <li>Соблюдение всех норм безопасности.</li>
                        </ul>
                    </div>
                </div>
                <div class="service-gallery">
                    <h3>Фото установки</h3>
                    <div class="gallery">
                        <img src="/static/images/topas/details.png" alt="ТОПАС">
                        <img src="/static/images/topas/details2.jpg" alt="ТОПАС">
                        <img src="/static/images/topas/details3.jpg" alt="ТОПАС">
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{ template "footer" }}
    
</body>
</html>