<!DOCTYPE html>
<html lang="ru" data-theme="light">
<head>
    {{ template "head" }}
    <title>АВАЮССТРОЙ | Контакты</title>
<!-- Мета-тег description -->
<meta name="description" content="Свяжитесь с ЧСУП «АВАЮССТРОЙ» в Бресте и Брестской области. Получите консультацию и закажите услуги по строительству, дренажу и аренде техники!">
<!-- Мета-тег keywords -->
<meta name="keywords" content="
    контакты АВАЮССТРОЙ Брест, контакты строительной компании Брест, телефон АВАЮССТРОЙ Брест,
    адрес АВАЮССТРОЙ Брест, контакты в Брестской области, заказ услуг Брест, консультация по строительству Брест,
    контакты дренажных услуг Брест, контакты аренды техники Брест, поддержка АВАЮССТРОЙ Брест
    ">
    <!-- Подключение иконок FontAwesome для кнопок Viber и Telegram -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {{ template "header" }}

    
    <main>
        <!-- Призыв к действию -->
        <section class="cta">
            <div class="container">
                <h2>Закажите услугу прямо сейчас!</h2>
                <p>Свяжитесь с нами для получения консультации или оформления заказа.</p>
                <a href="#" class="cta-button open-modal-button">Заказать звонок</a>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2>Контакты</h2>
                <div class="boxes-list">
                    <div class="box" style="padding-top: 1rem;">
                        <h3>ЧСУП «АВАЮССТРОЙ»</h3>
                        <p><strong>Адрес:</strong> 224032, г. Брест, ул. Янки Купалы, 109</p>
                        <p><strong>email:</strong> avajsstroi@mail.ru</p>
                        <p><strong>Телефоны:</strong></p>
                        <ul>
                            <li>
                                +375 (29) 720-27-91 (Александр)
                                <!-- Кнопка Viber -->
                                <a href="viber://chat?number=%2B375297202791" target="_blank" style="margin-left: 10px;">
                                    <i class="fab fa-viber" style="color: #7360F2; font-size: 24px;"></i>
                                </a>
                                <!-- Кнопка Telegram -->
                                <a href="https://t.me/+375297202791" target="_blank" style="margin-left: 10px;">
                                    <i class="fab fa-telegram" style="color: #0088cc; font-size: 24px;"></i>
                                </a>
                            </li>
                            <li>
                                +375 (33) 670-92-73 (Александр)
                                <!-- Кнопка Viber -->
                                <a href="viber://chat?number=%2B375336709273" target="_blank" style="margin-left: 10px;">
                                    <i class="fab fa-viber" style="color: #7360F2; font-size: 24px;"></i>
                                </a>
                                <!-- Кнопка Telegram -->
                                <a href="https://t.me/+375336709273" target="_blank" style="margin-left: 10px;">
                                    <i class="fab fa-telegram" style="color: #0088cc; font-size: 24px;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="box" style="padding-top: 1rem;">
                        <p><strong>Директор:</strong> А.С. Стракович (на основании устава, приказ №1 от 27.10.2010)</p>
                        <p><strong>Свидетельство о государственной регистрации:</strong> №291002836</p>
                        <p><strong>УНП:</strong> 291002836</p>
                    </div>
                    <div class="box" style="padding-top: 1rem;">
                        <p><strong>Платёжные реквизиты:</strong></p>
                        <ul>
                            <li><strong>Расчётный счёт:</strong> BY41OLMP30123001046460000933</li>
                            <li><strong>Банк:</strong> Брестская областная дирекция ОАО «Белгазпромбанк»</li>
                            <li><strong>Адрес банка:</strong> г. Брест, ул. Московская, 174 А</li>
                            <li><strong>БИК:</strong> OLMPBY2X</li>
                            <li><strong>УНП банка:</strong> 100429079</li>
                        </ul>
                    </div>
                </div>

                <!-- Блок с Яндекс.Картами -->
                <div class="map-container">
                    <h3>Мы на карте</h3>
                    <iframe src="https://yandex.by/map-widget/v1/?z=12&ol=biz&oid=140245006449" class="box" width="100%" frameborder="0" ></iframe>
                </div>
            </div>
        </section>
    </main>

  
</body>
</html>