<!DOCTYPE html>
<html lang="ru" data-theme="light">
<head>
    {{ template "head" }}
    <title>АВАЮССТРОЙ | Аренда</title>
    <!-- Мета-тег description -->
    <meta name="description" content="
    ЧСУП «АВАЮССТРОЙ» предлагает услуги по аренде спецтехники
     в Бресте и Брестской области. Мы предоставляем современную технику для строительных, 
     земляных и других работ. Гарантируем надежность, оперативность и доступные цены. 
     Ваш надежный партнер в реализации любых проектов!">
    <!-- Мета-тег keywords (опционально, но некоторые поисковики его учитывают) -->
    <meta name="keywords" content="
    строительство в Бресте, дренажные системы Брест, водопонижение Брест, аренда спецтехники Брест,
    водопонижение Берёза, водоснабжение Брест, строительство в Брестской области, дренаж участка Брест,
    ливневая канализация Брест, аренда экскаватора Брест, строительные услуги Брест, дренажные системы Берёза,
    водопонижение Ивацевичи, аренда бульдозера Брест, строительство в Пинске, дренажные системы Пинск,
    водопонижение Пинск, аренда спецтехники Пинск, строительство в Кобрине, дренажные системы Кобрин,
    водопонижение Кобрин, аренда спецтехники Кобрин, строительство в Барановичах, дренажные системы Барановичи,
    водопонижение Барановичи, аренда спецтехники Барановичи, строительство в Лунинце, дренажные системы Лунинец,
    водопонижение Лунинец, аренда спецтехники Лунинец, строительство в Ивацевичах, дренажные системы Ивацевичи,
    водопонижение Ивацевичи, аренда спецтехники Ивацевичи, строительство в Берёзе, дренажные системы Берёза,
    водопонижение Берёза, аренда спецтехники Берёза, строительные услуги Брестская область,
    дренажные системы Брестская область, водопонижение Брестская область, аренда спецтехники Брестская область,
    строительство частных домов Брест, дренаж для частного дома Брест, водопонижение на стройплощадке Брест,
    аренда строительной техники Брест, строительство коммерческих объектов Брест, дренаж для бизнеса Брест,
    водопонижение для промышленных объектов Брест, аренда техники для строительства Брест,
    строительные компании Брест, дренажные компании Брест, услуги водопонижения Брест,
    аренда спецтехники для земляных работ Брест, строительство дорог Брест, дренаж дорог Брест,
    водопонижение для дорожного строительства Брест, аренда техники для дорожных работ Брест
    ">
</head>
<body>
    
    {{ template "header"}}

    <main>
        <section class="rent">
            <div class="container">
                <h2>Аренда спецтехники</h2>
                <div class="boxes-list">
                    <a class="box" href="/contacts">
                        <img src="/static/images/cars/lgce.jpg" alt="Экскаватор">
                        <h3>Экскаватор</h3>
                        <p>Экскаватор-погрузчик LGCE с возможностью установки гидравлического молота.</p>
                    </a>
                    <a class="box" href="/contacts">
                        <img src="/static/images/cars/daf.jpg" alt="Погрузчик">
                        <h3>Погрузчик</h3>
                        <p>Автомобиль оборудован гидроманипулятором, вылет стрелы 7 метров, грузоподъемность 4 тонны.</p>
                    </a>
                    <a class="box" href="/contacts">
                        <img src="/static/images/cars/mini.jpg" alt="Миниэкскаватор">
                        <h3>Миниэкскаватор</h3>
                        <p>Аренда миниэкскаватора для земляных работ.</p>
                    </a>
                    <a class="box" href="/contacts">
                        <img src="/static/images/water_lowering/cover.jpg" alt="Миниэкскаватор">
                        <h3>Установка водопонижения</h3>
                        <p>Аренда установки для понижения грунтовых вод.</p>
                    </a>
                    <a class="box" href="/contacts">
                        <img src="/static/images/cars/svarkatrub.jpg" alt="Аппарат для сварки труб">
                        <h3>Аппарат для сварки труб</h3>
                        <p>Аренда аппарата для сварки труб 450 мм.</p>
                    </a>
                    <a class="box" href="/contacts">
                        <img src="/static/images/cars/elektrosvarka.jpg" alt="Электромуфтовая сварка">
                        <h3>Аппарат для электромуфтовой сварки</h3>
                        <p>Аренда электромуфтового сварочного аппарата - ПРОСВАР ЭЛЕКТРО 315.</p>
                    </a>
                </div>
            </div>
        </section>
    </main>
    {{ template "footer" }}
</body>
</html>