<!DOCTYPE html>
<html lang="ru" data-theme="light">
<head>
    {{ template "head" }}
    <title>АВАЮССТРОЙ | Услуги</title>
    <!-- Мета-тег description -->
    <meta name="description" content="
    ЧСУП «АВАЮССТРОЙ» — профессиональные строительные и земляные работы в Бресте и 
    Брестской области. Мы предлагаем полный спектр услуг: строительство под ключ, 
    водопонижение, устройство дренажных систем, демонтаж и аренда спецтехники. Гарантируем 
    качество, соблюдение сроков и индивидуальный подход к каждому проекту. Доверьтесь профессионалам!">
    <!-- Мета-тег keywords (опционально, но некоторые поисковики его учитывают) -->
    <meta name="keywords" content="
    строительство в Бресте, дренажные системы Брест, водопонижение Брест, аренда спецтехники Брест,
    водопонижение Берёза, водоснабжение Брест, строительство в Брестской области, дренаж участка Брест,
    ливневая канализация Брест, аренда экскаватора Брест, строительные услуги Брест, дренажные системы Берёза,
    водопонижение Ивацевичи, аренда бульдозера Брест, строительство в Пинске, дренажные системы Пинск,
    водопонижение Пинск, аренда спецтехники Пинск, строительство в Кобрине, дренажные системы Кобрин,
    водопонижение Кобрин, аренда спецтехники Кобрин, строительство в Барановичах, дренажные системы Барановичи,
    водопонижение Барановичи, аренда спецтехники Барановичи, строительство в Лунинце, дренажные системы Лунинец,
    водопонижение Лунинец, аренда спецтехники Лунинец, строительство в Ивацевичах, дренажные системы Ивацевичи,
    водопонижение Ивацевичи, аренда спецтехники Ивацевичи, строительство в Берёзе, дренажные системы Берёза,
    водопонижение Берёза, аренда спецтехники Берёза, строительные услуги Брестская область,
    дренажные системы Брестская область, водопонижение Брестская область, аренда спецтехники Брестская область,
    строительство частных домов Брест, дренаж для частного дома Брест, водопонижение на стройплощадке Брест,
    аренда строительной техники Брест, строительство коммерческих объектов Брест, дренаж для бизнеса Брест,
    водопонижение для промышленных объектов Брест, аренда техники для строительства Брест,
    строительные компании Брест, дренажные компании Брест, услуги водопонижения Брест,
    аренда спецтехники для земляных работ Брест, строительство дорог Брест, дренаж дорог Брест,
    водопонижение для дорожного строительства Брест, аренда техники для дорожных работ Брест
    ">
</head>
<body>
    {{ template "header"}}

    <main>
        <section>
            <div class="container">
                <h2>Наши услуги</h2>
                <div class="boxes-list">
                    <a class="box" href="/services/plumbing">
                        <img src="/static/images/plumbing/cover.jpg" alt="Водоснабжение">
                        <h3>Водоснабжение</h3>
                        <p>Проектирование и монтаж систем водоснабжения.</p>
                    </a>
                    <a class="box" href="/services/topas">
                        <img src="/static/images/topas/cover.jpg" alt="Водоснабжение">
                        <h3>Автономная канализация «ТОПАС»</h3>
                        <p>УОСВ «ТОПАС» - выбор тех, кто не только хочет обеспечить себе комфортные условиях проживания или работы за городом, но и заботится о сохранности водных ресурсов для будущих поколений.</p>
                    </a>
                    <a class="box" href="/services/water_lowering">
                        <img src="/static/images/water_lowering/cover.jpg" alt="Водопонижение">
                        <h3>Водопонижение</h3>
                        <p>Устройство систем водоотведения и дренажа.</p>
                    </a>
                    <a class="box" href="/services/drainage">
                        <img src="/static/images/drainage/cover.jpg" alt="Дренажные системы">
                        <h3>Дренажные системы</h3>
                        <p>Устройство систем водоотведения и дренажа.</p>
                    </a>
                    <a class="box" href="/services/sewerage"> 
                        <img src="/static/images/sewerage/cover.jpg" alt="Канализация">
                        <h3>Канализация</h3>
                        <p>Монтаж и обслуживание канализационных систем.</p>
                    </a>
                    <a class="box" href="/services/storm_sewer">
                        <img src="/static/images/storm_sewer/cover.jpg" alt="Ливневая канализация">
                        <h3>Ливневая канализация</h3>
                        <p>Монтаж и обслуживание канализационных систем.</p>
                    </a>
                </div>
            </div>
        </section>
    </main>

    {{ template "footer" }}
</body>
</html>